#docs
recursive-include docs *

#data
recursive-include data *

#scripts
include configure_ITK.sh
include configure_ANTsPy.sh
include configure_VTK.sh

#lib
include ants/lib/*

#misc
include LICENSE.txt